**.orig
*.gem
*.rbc
*.sassc
.bundle
.config
.rbx
.rspec
.ruby-*
.sass-cache
.yardoc
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
InstalledFiles
_yardoc
capybara-*.html
coverage
doc/
lib/bundler/man
pickle-email-*.html
pkg
rdoc
rerun.txt
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
