---
language: ruby
bundler_args: --without development
bundler_args:
rvm:
  - 1.9.2
  - 1.9.3
  - jruby-19mode
  - jruby-head
  - ruby-head
  - rbx-19mode
notifications:
  email:
    - tech@challengepost.com
